venv/*_venv*
**/vLLM_venv*
**/*.pth
**/pytorch/data/*
**/.env
**/.env*
**/.cache
**/tmp
**/.cache/**
**/__pycache__/**
**/logs.db
**/qdrant_storage
**/paper
**/planning
**/models/output
/hosting
**/__pycache__
**/solution_architect_assistant.json
**/autogen_models_list.json
**/*.egg-info
/build
.fake
**/.classpath
**/.dockerignore
**/.env
**/.git
# **/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
# **/docker-compose*
# **/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml

# Kernel Memory configuration
**/appsettings.Development.json

# Docs
**/Gemfile.lock

**/libpostal_data
**/*.osm
research/teams

**/code_documentation/db

ffmpeg-7.1-essentials_build/
**/ffmpeg-7.1-essentials_build.7z
**/ffmpeg.exe
whisper_venv